:root {
    --primary: #D5C539;
    --primary-deep: #C6B735;
    --primary-deep2: #B0A32F;
    --primary-light: #F4E244;
    --secondary: #ba5e5d;
    --secondary-deep: #af1e15;
    --secondary-deep2: #ba0302;
    --secondary-light: #B98584;
    --info: rgba(212, 202, 205);
    --h1: 64px;
    --h2: 48px;
    --h3: 40px;
    --h4: 36px;
    --h5: 32px;
    --h6: 24px;
    --p: 20px;
    --p1: 16px;
    --p2: 12px;
}
.company{
    margin-top: 50px;
    margin-bottom: 50px;
}
.title {
    margin-top: 20px;
    font-weight: bold;
    border-bottom: black solid 2px;
    font-size: var(--h4);
}

.text {
    line-height: 2.5;
    font-size: var(--p);
    font-weight: 600;
}

.subtitle {
    margin-top: 10px;
    font-weight: bolder;
}