:root {
    --primary: #D5C539;
    --primary-deep: #C6B735;
    --primary-deep2: #B0A32F;
    --primary-light: #F4E244;
    --secondary: #ba5e5d;
    --secondary-deep: #af1e15;
    --secondary-deep2: #ba0302;
    --secondary-light: #B98584;
    --info: rgba(212, 202, 205);
    --h1: 64px;
    --h2: 48px;
    --h3: 40px;
    --h4: 36px;
    --h5: 32px;
    --h6: 24px;
    --p: 20px;
    --p1: 16px;
    --p2: 12px;
}

nav {
    background-color: black;
}

.navbar-toggler-icon {
    /* 或設定背景色，例如灰色 */
    background-image: url('/img/burger.png');
}

a.navbar-brand {
    margin-left: 50px;
    color: white;
    font-size: var(--h3);
}

.navbar-nav {
    margin-left: auto;
}

a.navbar-brand:hover {
    margin-left: 50px;
    color: white;
    font-size: var(--h3);
}

a.nav-link {
    color: white;
    font-size: var(--h6);
}

a.nav-link:hover,
a.nav-link:active,
a.nav-link:focus {
    color: var(--primary);
    font-size: var(--h6);
}

.navbar-nav {
    margin-right: 50px;
}

.nav-item {
    margin-right: 20px;
}

.dropdown-menu .dropdown-item:hover {
    color: var(--primary);
    /* 文字顏色為白色 */
    background-color: black;
    /* 背景顏色為黑色 */
}

marquee {
    height: 50px;
    background-color: var(--primary);
    font-size: var(--h5);
    color: white;
}



.carousel-caption {
    background: linear-gradient(0.25turn, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 20px;
}

.carousel-caption h5 {
    font-size: 24px;
    font-weight: bold;
}

.carousel-caption p {
    margin-top: 5px;
}

.container {
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 50px;
}

.index-title {
    font-size: var(--h4);
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    border-bottom: black solid 2px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    /* 設置您想要的背景顏色 */
}

.footer-column {
    flex: 1;
    max-width: 50%;
}

.footer-column img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.footer-bottom {
    background-color: black;
    /* 設置您想要的版權宣告區背景顏色 */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

@media (max-width:576px) {
    .navbar-nav {
        margin-left: 20px;
        margin-right: auto;
    }
}